body{
    background-color: rgb(236, 239, 240);
}
#footer1{
    width:100%;
    height:fit-content;
    display:flex;
    margin: auto;
    margin-top: 2%;
    /* font-family:'Times New Roman', Times, serif; */
}

.footer_s{
    display: flex;
    width:35%;
    justify-content: space-between;
    gap:5%;
    text-align: center;
    line-height: 15px;
}
.footer{
    width:45%;
  }

  .footer_m{
    background-color: white;
    /* color:white; */
    width:30%;
    height:fit-content;
    text-align: center;
    padding:3%;
    margin:5%;
    margin-top: 0%;
}

.radio{
 padding-left: 10%;
}
.radio input{
 width:15px;
 height:15px;
}
input[type='radio']:checked:after {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0a0a0a;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid rgb(190, 185, 185);
}

input[type='checkbox'].checkmark{
    width:20px;
    height:20px;
}

#checkbox{
    display:grid;
    grid-template-columns:20% 70%;
    padding:5%;
    font-size:12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:suto;
    /* border: 1px solid red */
}
#signup{
    background-color: black;
    color:white;
    font-weight: bold;
    font-size: 12px;
    width:90%;
    padding:5%;
    border: none;
}

/* footer2 */
#footer{
    width:1000px;
    
}
hr{
        height:2px;
        border:none;
        background-color: white;
    }
    #Media_icons{
        display:grid;
        grid-template-columns: 450px 450px;
        justify-content: space-around;
        padding:1%;

    }
    .media_icons{
        padding: 1%;
        font-size: 20px;
    }
    .media_icons span{
        padding:2%
    }

    /* footer-3 */
    #footer3{
        position:static;
        background-color: rgb(70, 68, 68);
        width:1200px;
        height:60px;
        padding:5%;
        color:rgb(241, 237, 237);
        text-align: center;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }